* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "ChicagoFLF";
  src:url(../fonts/ChicagoFLF.ttf);
}

@font-face {
  font-family: "YuGothic";
  src:url(../fonts/YuGothic.ttf);
}

@font-face {
  font-family: "YuGothicMedium";
  src:url(../fonts/YuGothicMedium.ttf);
}

@font-face {
  font-family: "NeutraText-Book";
  src:url(../fonts/NeutraText-Book.otf);
}

@font-face {
  font-family: "Brandon-Grotesque-Black";
  src: url(../fonts/brandon-grotesque-black.otf);
}

html {
  background-color: #FFF
  color: #555;
  font-family: "ChicagoFLF","YuGothic","YuGothicMedium";
  font-size: "20px";
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

header {
  min-height: 100vh;
  background-image: linear-gradient(rgba(20, 20, 20, 0.7),rgba(20, 20, 20, 0.7)),url(../img/bg_blue.jpg);
  background-position: center;
  background-size: cover;
}

.logo {
  margin-top: 10px;
  height: 40px;
  margin-bottom: 10px;
}

.navcon {
  background-color: transparent;
}

.navitem {
  text-transform: uppercase;
  font-size: 90%;
  letter-spacing: 1px;
  transition: 0.5s;
}

.navitem:hover {
  border-bottom: 2px solid #71ceed;
}

.navbar-dark .navbar-nav .active.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show.nav-link {
  color: #71ceed;
  font-weight: bold;
  font-family: "NeutraText-Book";
}

.header-text {
  background-color: transparent;
  color: #FFF;
}

.headermain {
  font-family: "ChicagoFLF";
  font-size: 3rem;
  text-align: center;
  letter-spacing: 4px;
  word-spacing: 4px;
  margin-bottom: 30px;
}

.headersubtext{
  font-family: "YuGothic";
  font-size: 20px;
  text-align: center;
}

.section1 {
  min-height: 100vh;
  background-image: url(../img/bg_red.jpg);
  background-position: center;
  background-size: cover;
}

.titlesection {
  font-family: "Brandon-Grotesque-Black";
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  text-transform: uppercase;
  font-size: 3rem;
}

.card-img-top {
  width: 300px;
  height: 450px;
}

.cardcon {
  background-color: #50e5f9;
  min-height: 620px;
  padding: 20px;
  -webkit-box-shadow: 0px 15px 25px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 15px 25px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 15px 25px 5px rgba(0,0,0,0.75);
  border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
  border: 0px solid #000000;
}

.card h3 {
  font-family: "YuGothic";
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
}

.card h4 {
  font-family: "YuGothicMedium";
  text-align: center;
  padding-top: 20px;
}

.section2 {
  height: 90vh;
  background-image: url(../img/bg_green.jpg);
}

.carousel-caption {
  font-family: "YuGothic";
  color: #000000;
  background-color: rgba(255, 255, 255, 0.400);
}

.carousel-subcaption {
  font-family: "YuGothicMedium";
}

footer {
  height: 10vh;
  background-color: #1c1c1c;
}

@media (max-width: 820px) {
  .navcon{
    background-color: #1c1c1c;
  }
  .header-text {
    padding-top: 0;
    margin-bottom: 0;
  }
}
